
@{
    ViewData["Title"] = "Home";
}



<h1>Olá visitante, Seja bem vindo ao e-Shop</h1>
<p>
    
    Cadastre-se para ter acesso ao e-Shop<br />
</p>

<p>
    <a asp-action="Create" class="btn btn-success">Cadastrar</a>
</p>



