@model IEnumerable<CadastroProduto.Models.Domain.Usuario>

@{
    ViewData["Title"] = "Usuário";
}
<hr/>
    <h3>
        Deseja sair do sistema? <a asp-action="Sair" class="btn btn-danger">Sair</a>
    </h3>




